{% extends 'components/base.html' %}

{% block title %}Post Create{% endblock %}

{% block body %}

<h1 class="text-center mb-5">Post Create</h1>

<a href="/post/list/" class="btn btn-success">Go Back To Post List</a>

<form enctype="multipart/form-data" class="mt-5" method="POST" action="/post/create/">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input name="title" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input name="image" type="file" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Viewer</label>
        <input name="viewer" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}