{% extends 'components/base.html' %}

{% block title %}Post List{% endblock %}

{% block body %}

<h1 class="text-center mb-5">Post List</h1>

<a href="/post/create/" class="btn btn-success">+ Add New Post</a>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Viewer</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>
                {% if post.image %}
                <img style="width: 100px;height: 100px;object-fit: contain;" src="{{ post.image.url }}">
                {% else %}
                <img style="width: 100px;height: 100px;object-fit: contain;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgE2ZVQ_3i2YvbYNZFyGVqclC7-eLgOmUp52QB0FtBBuAEC6yJtqygHSQgQ5FgCaeEg0o&usqp=CAU">
                {% endif %}
            </td>
            <td>{{ post.title }}</td>
            <td>
                {% if post.viewer < 100 %}
                <span class="badge bg-danger">{{ post.viewer }} - Not Popular</span>
                {% else %}
                <span class="badge bg-success">{{ post.viewer }} - Popular</span>
                {% endif %}
            </td>
            <td>{{ post.description }}</td>
            <td>
                <a href="/post/update/{{ post.id }}/" class="btn btn-primary">Update</a>
                <a href="/post/delete/{{ post.id }}/" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}