{% extends 'components/base.html' %}

{% block title %}Post Details{% endblock %}

{% block body %}
{% load humanize %}
<h1 class="text-center mb-5">Details for {{ post.title }}</h1>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="{{ post.title }}">
            {% else %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgE2ZVQ_3i2YvbYNZFyGVqclC7-eLgOmUp52QB0FtBBuAEC6yJtqygHSQgQ5FgCaeEg0o&usqp=CAU"
                class="img-fluid rounded-start" alt="{{ post.title }}">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.description }}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ post.updated_at|naturaltime }}</small>
                </p>
            </div>
        </div>
    </div>
</div>

<form class="mt-5" action="/comment/create/{{ post.id }}/" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <textarea name="message" class="form-control" rows="5" placeholder="Write down your comment ...... "></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="mt-5">
    <h3 class="text-center mb-3">Comments</h3>

    {% for comment in comments %}
    <div class="mb-3">
        <div class="alert alert-secondary" role="alert">
            {{ comment.message }}
            <p class="text-muted mb-0">written by {{ comment.author.username }} at {{ comment.created_at }}</p>
        </div>
    </div>
    {% endfor %}

</div>


{% endblock %}